In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Creazione di una series a partire da una lista
series = pd.Series([1,2,3,4,5,6,7])


series.describe()

In [ ]:
# Creazione di un dataframe a partire da una lista di liste
df = pd.DataFrame([[0,1],[0,1],[0,1]], columns=['apples','bananas'])
df.describe()

       apples  bananas
count     3.0      3.0
mean      0.0      1.0
std       0.0      0.0
min       0.0      1.0
25%       0.0      1.0
50%       0.0      1.0
75%       0.0      1.0
max       0.0      1.0

# Caricamento di un dataframe da csv

In [ ]:
dataframe = pd.read_csv('/content/drive/MyDrive/Clearbox AI/Tech/tests_material/adult_training.csv')

#Esplorazione dati

In [ ]:
# Visualizza le prime n righe del dataframe
dataframe.head(5)

,age,work_class,education,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# Ottieni la dimensione dal dataframe
dataframe.shape

(32561, 13)

In [ ]:
# Informazioni generiche sulle varie colonne
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   work_class      30725 non-null  object
 2   education       32561 non-null  object
 3   marital_status  32561 non-null  object
 4   occupation      30718 non-null  object
 5   relationship    32561 non-null  object
 6   race            32561 non-null  object
 7   sex             32561 non-null  object
 8   capital_gain    32561 non-null  int64
 9   capital_loss    32561 non-null  int64
 10  hours_per_week  32561 non-null  int64
 11  native_country  31978 non-null  object
 12  income          32561 non-null  object
dtypes: int64(4), object(9)
memory usage: 3.2+ MB

In [ ]:
# Elenca colonne del dataframe
print(dataframe.columns)

# Accesso a singola colonna
print(dataframe['age'])
print(dataframe['age'].describe())

Index(['age', 'work_class', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'sex', 'capital_gain', 'capital_loss',
       'hours_per_week', 'native_country', 'income'],
      dtype='object')
0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64
count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [ ]:
# Conta etichette categoriche
print('unique labels', dataframe['relationship'].unique())
print('label counts', dataframe['relationship'].value_counts())

unique labels ['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
label counts Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64

In [ ]:
# Definizione di un indice personalizzato

In [ ]:

index = ['riga_'+str(i) for i in range(dataframe.shape[0])]
dataframe.index = index

In [ ]:
dataframe.head()

,age,work_class,education,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
riga_0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
riga_1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
riga_2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
riga_3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
riga_4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# Accesso a dataframe usando .loc e .iloc

dataframe.loc['riga_0']

age                          39
work_class            State-gov
education             Bachelors
marital_status    Never-married
occupation         Adm-clerical
relationship      Not-in-family
race                      White
sex                        Male
capital_gain               2174
capital_loss                  0
hours_per_week               40
native_country    United-States
income                    <=50K
Name: riga_0, dtype: object

In [ ]:
dataframe.iloc[0]

age                          39
work_class            State-gov
education             Bachelors
marital_status    Never-married
occupation         Adm-clerical
relationship      Not-in-family
race                      White
sex                        Male
capital_gain               2174
capital_loss                  0
hours_per_week               40
native_country    United-States
income                    <=50K
Name: riga_0, dtype: object

In [ ]:
# Conversione dataframe in numpy array
np_array=dataframe.values

In [ ]:
np_array[:,0].mean()

# Queries sul dataframe

In [ ]:
# Mostra etichette esistenti all'interno della colonna education
print(dataframe['education'].unique())

['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']

In [ ]:
# Query, seleziona individui con education=10th grade 
print(dataframe[dataframe['education']=='10th'])

# Mostra distribuzione percentuale di occupazione per individui risultanti da query
print(dataframe[dataframe['education']=='10th']['occupation'].value_counts()/dataframe[dataframe['education']=='10th'].shape[0])

In [ ]:
# Nuova query: uguale a prima ma con education = Masters
print(dataframe[dataframe['education']=='Masters']['occupation'].value_counts()/dataframe[dataframe['education']=='Masters'].shape[0])

Prof-specialty       0.489843
Exec-managerial      0.290772
Sales                0.077771
Adm-clerical         0.039466
Tech-support         0.021474
Craft-repair         0.012768
Other-service        0.011027
Protective-serv      0.008706
Farming-fishing      0.005804
Transport-moving     0.005804
Machine-op-inspct    0.004643
Handlers-cleaners    0.002902
Priv-house-serv      0.000580
Armed-Forces         0.000580
Name: occupation, dtype: float64

In [ ]:
# Una query piu' complicata, vediamo quali sono le occupazioni piu' comuni per donne in possesso di master
print(dataframe[(dataframe['education']=='Masters') & (dataframe['sex']=='Female')]['occupation'].value_counts()/dataframe[dataframe['education']=='Masters'].shape[0])

# Qui lo stesso ma per gli uomini
print(dataframe[(dataframe['education']=='Masters') & (dataframe['sex']=='Male')]['occupation'].value_counts()/dataframe[dataframe['education']=='Masters'].shape[0])

Prof-specialty       0.195589
Exec-managerial      0.062681
Adm-clerical         0.016831
Sales                0.012188
Other-service        0.006965
Tech-support         0.004643
Craft-repair         0.001161
Machine-op-inspct    0.001161
Priv-house-serv      0.000580
Name: occupation, dtype: float64
Prof-specialty       0.294254
Exec-managerial      0.228091
Sales                0.065583
Adm-clerical         0.022635
Tech-support         0.016831
Craft-repair         0.011608
Protective-serv      0.008706
Farming-fishing      0.005804
Transport-moving     0.005804
Other-service        0.004063
Machine-op-inspct    0.003482
Handlers-cleaners    0.002902
Armed-Forces         0.000580
Name: occupation, dtype: float64

#Esempi di data cleaning e processing

In [ ]:
# Creazione di una nuova colonna come somma di due colonne esistenti

dataframe['nuova_feature1']=dataframe['capital_gain']-dataframe['capital_loss']

In [ ]:
dataframe['nuova_feature1'].describe()

count    32561.000000
mean       990.345014
std       7408.986951
min      -4356.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      99999.000000
Name: nuova_feature1, dtype: float64

In [ ]:
dataframe['nuova_feature2'] = dataframe['nuova_feature1'].apply(lambda x: x>0)

In [ ]:
dataframe['nuova_feature2']

riga_0         True
riga_1        False
riga_2        False
riga_3        False
riga_4        False
              ...
riga_32556    False
riga_32557    False
riga_32558    False
riga_32559    False
riga_32560     True
Name: nuova_feature2, Length: 32561, dtype: bool

In [ ]:
new_dataframe = dataframe.drop(['capital_gain','capital_loss'], axis=1)

In [ ]:
categorical_columns = new_dataframe.columns[new_dataframe.dtypes=='object']

for i in categorical_columns:
  new_dataframe[i] = new_dataframe[i].fillna('missing')

In [ ]:
new_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32561 entries, riga_0 to riga_32560
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   work_class      32561 non-null  object
 2   education       32561 non-null  object
 3   marital_status  32561 non-null  object
 4   occupation      32561 non-null  object
 5   relationship    32561 non-null  object
 6   race            32561 non-null  object
 7   sex             32561 non-null  object
 8   hours_per_week  32561 non-null  int64
 9   native_country  32561 non-null  object
 10  income          32561 non-null  object
 11  nuova_feature1  32561 non-null  int64
 12  nuova_feature2  32561 non-null  bool
dtypes: bool(1), int64(3), object(9)
memory usage: 4.3+ MB

In [ ]:
new_dataframe['native_country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', 0, 'Mexico', 'South',
       'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany', 'Iran',
       'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)